@import url('general-sans.css');

:root {
  /* colors */
  --primary-100: rgba(173, 181, 189, 1);
  --primary-200: rgba(108, 117, 125, 1);
  --primary-300: rgba(73, 80, 87, 1);
  --primary-400: rgba(52, 58, 64, 1);
  --primary-500: rgba(33, 37, 41, 1);
  --secondary-100: rgba(231, 111, 81, 1);
  --secondary-200: rgba(227, 88, 53, 1);
  --secondary-300: rgba(220, 68, 30, 1);
  --secondary-400: rgba(202, 63, 28, 1);
  --secondary-500: rgba(179, 56, 25, 1);
  --netral-100: rgba(255, 255, 255, 1);

  /* fonts */
  /* font-style font-weight font-size/line-heigt font-family */
  --h1-text: normal 400 8.125rem/6.5625rem 'Bebas Neue', sans-serif;
  --h2-text: normal 400 6.875rem/6rem 'Bebas Neue', sans-serif;
  --h3-text: normal 400 3.875rem/100% 'Bebas Neue', sans-serif;
  --h4-text: normal 400 2.25rem / normal 'Bebas Neue', sans-serif;
  --body-text: normal 400 1.125rem/1.75rem 'General Sans Variable', sans-serif;
  --body2-text: normal 500 1.5rem / normal 'General Sans Variable', sans-serif;
  --body3-text: normal 500 2rem / normal 'General Sans Variable', sans-serif;
  --body4-text: normal 600 1.125rem/1.75rem 'General Sans Variable', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font: var(--body-text);
  color: var(--primary-500);
}

.highlight {
  color: var(--secondary-100);
}

.active {
  right: 0 !important;
}

button {
  cursor: pointer;
}

/* .badge {
  position: absolute;
  background-color: rgb(179, 45, 45);
  min-width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 50%;
  top: 0.2rem;
  right: -0.5rem;
  transform: scale(0);
} */

.icon::before {
  font-size: 1.5rem;
  color: var(--primary-500);
}

.icon-black::before {
  font-size: 1.5rem;
  color: var(--primary-500);
}

.icon-star {
  fill: var(--primary-100);
  color: var(--primary-100);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3.75rem;
  position: fixed;
  height: 4.375rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--netral-100);
}

.navbar__nav {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  flex: 1 0 0;
}

.navbar__logo {
  width: 4.875rem;
  height: 1.625rem;
}

.navbar__logo img {
  height: 100%;
}

.navbar__links {
  display: flex;
  gap: 2rem;
}

.navbar__links a {
  font: var(--body-text);
  color: var(--primary-500);
}

.navbar__links a:hover {
  color: var(--secondary-100);
}

.navbar__links a::after {
  content: '';
  display: block;
  width: 0;
  padding-top: 0.2rem;
  border-bottom: 0.1rem solid var(--secondary-100);
  transition: 0.2s linear;
}

.navbar__links a:hover::after {
  width: 100%;
}

.navbar__extra {
  display: flex;
  gap: 1.5rem;
}

.search-btn,
.hamburger-menu,
.shopping-cart-btn,
.login-btn {
  background: transparent;
  color: var(--primary-500);
}

.shopping-cart-btn {
  position: relative;
}

.search-btn:hover,
.hamburger-menu:hover,
.shopping-cart-btn:hover,
.search-btn:hover {
  color: var(--primary-500);
}

.hamburger-menu {
  display: none;
}

.navbar__search {
  position: absolute;
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  top: 100%;
  right: 7%;
  background-color: var(--netral-100);
  padding: 0 1rem;
  gap: 0.8rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar__search input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: var(--bg-color);
}

.navbar__search label {
  color: var(--bg-color);
}

.active-search {
  transform: scaleY(1);
}

.shopping-cart {
  position: absolute;
  width: 30rem;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  right: -100%;
  top: 100%;
  padding: 1rem;
  color: var(--bg-color);
  transition: 0.3s;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  border-bottom: 1px dashed var(--bg-color);
  padding: 1rem 0;
}

.cart-item img {
  height: 4rem;
}

.remove-item {
  position: absolute;
  right: 0;
}

.active-cart {
  right: 0;
}

.remove-btn,
.add-btn {
  width: 3rem;
  height: 2rem;
  margin: 0 1rem;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 3.75rem;
  margin-top: 10.75rem;
  align-items: center;
}

.hero h1 {
  font: var(--h1-text);
  color: var(--primary-500);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.hero img {
  width: 100%;
  height: 29.8125rem;
  object-fit: cover;
  object-position: center;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  align-items: center;
  width: 100%;
}

.hero__content p {
  width: 47.9375rem;
  color: var(--primary-500);
  flex-shrink: 1;
}

.hero__cta {
  display: inline-block;
  color: var(--netral-100);
  background-color: var(--secondary-100);
  padding: 1rem;
}

/* services section */
.service {
  display: flex;
  padding: 0rem 3.75rem;
  justify-content: space-between;
  margin-top: 10rem;
}

.service h2 {
  font: var(--h2-text);
  width: 16.9375rem;
}

.service__services {
  display: flex;
  width: 47.625rem;
  flex-direction: column;
  gap: 2rem;
}

.service__service {
  display: flex;
  gap: 1.5rem;
}

.service__number h3 {
  font: var(--h3-text);
  color: var(--primary-100);
}

.service__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.service__content h3 {
  font: var(--body2-text);
  color: var(--secondary-100);
  text-transform: uppercase;
}

.service__content p {
  font: var(--body-text);
}

/* menu section */
.menu h2,
.contact h2 {
  margin: 0.5rem;
}

.menu p,
.contact p {
  text-align: center;
  width: 32rem;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 0;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  width: 18.75rem;
}

.card-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.card .shop-cart-btn,
.card .item-detail-btn {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.card-img {
  width: 15.5rem;
  height: 15.5rem;
  object-fit: cover;
  object-position: center;
}

.card-title {
  font-size: 1.2rem;
}

.card p {
  width: fit-content;
  font-size: 1.2rem;
}

.menu .row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* contact section*/
.contact .row {
  margin-top: 2rem;
}

.contact__map {
  flex: 1 1 35rem;
  width: 100%;
  object-fit: cover;
}

.contact__form {
  flex: 1 1 35rem;
  padding: 1.5rem;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid #eee;
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.input-group input {
  width: 100%;
  padding: 0.2rem;
  background-color: transparent;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

.btn {
  padding: 1rem 2rem;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* footer section */
.footer {
  padding: 1.4rem 7%;
  background-color: var(--primary-color);
  text-align: center;
  margin-top: 10rem;
}

.footer__socials,
.footer__links {
  margin: 1rem;
}

.footer__socials a,
.footer__links a {
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}

.footer__socials a:hover,
.footer__links a:hover,
.footer__credit a:hover {
  color: var(--bg-color);
}

.footer__credit a {
  color: rgb(255, 255, 255);
}

/* modal box */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 45, 0.5);
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  color: var(--bg-color);
  animation: animateModal 0.5s;
}

/* animasi */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.modal-content {
  display: flex;
  gap: 1rem;
}

.modal-content img {
  height: 20rem;
}

.product-content h3 {
  font-size: 2.625rem;
}

.product-content p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.product-content .card-price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.product-content .btn-cart {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
/* media queries */

/* laptop */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 1.875rem;
  }

  .hero {
    padding: 0 1.875rem;
  }

  .hero h1 {
    font: var(--h2-text);
  }

  .service {
    padding: 0 1.875rem;
    margin-top: 7.5rem;
  }

  .service__services {
    width: 41.1875rem;
  }
}

/* tablet */
@media (max-width: 768px) {
  .hamburger-menu {
    display: inline-block;
  }

  .navbar__links {
    position: absolute;
    width: 18.75rem;
    top: 100%;
    right: -100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    transition: 0.5s;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar__links a {
    color: var(--primary-500);
  }

  .navbar__search {
    width: 90%;
  }

  .hero {
    margin-top: 9rem;
  }

  .hero h1 {
    font: var(--h2-text);
  }

  .hero__content {
    width: 100%;
    flex-wrap: wrap;
  }

  .hero__content p {
    width: 100%;
  }

  .hero__cta {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .service h2 {
    font: var(--h3-text);
    margin-right: 1.13rem;
    width: 9.5625rem;
  }

  .service__services {
    width: 29.1875rem;
  }

  .service__number h3 {
    font: var(--h4-text);
  }

  .footer {
    margin-top: 7rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-content img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  .navbar {
    padding: 0 1.25rem;
  }

  .navbar__logo {
    font-size: 1.125rem;
  }

  .hero {
    padding: 1.25rem;
    margin-top: 6rem;
  }

  .hero h1 {
    font: var(--h3-text);
  }

  .hero__cta {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .service {
    padding: 0 1.25rem;
    margin-top: 3rem;
    flex-direction: column;
    gap: 1.12rem;
  }

  .service h2 {
    font: var(--h4-text);
    width: 100%;
  }

  .service__services {
    width: 100%;
  }

  .service__content h3 {
    font: var(--body4-text);
  }

  .about__image,
  .about__content {
    flex: 1 1 100%;
    flex-wrap: wrap;
  }

  .about__image img {
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
  }

  .menu p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .shopping-cart {
    width: 90%;
  }

  .card {
    margin: 1rem 0 0;
  }

  .contact__form {
    flex: 1 1 100%;
    padding: 1.5rem 0;
  }

  .contact p {
    width: 100%;
  }
}
