@import url(colors.css);
@import url(fonts.css);
@import url(navbar.css);
@import url(hero.css);
@import url(about.css);
@import url(category.css);
@import url(products.css);
@import url(contact.css);
@import url(footer.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
}

.active {
  right: 0 !important;
}

button {
  cursor: pointer;
}

.badge {
  color: var(--primary-color);
  font: var(--smallBold-text);
}

.icon::before {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.icon-primary::before {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* modal box */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 45, 0.5);
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  color: var(--bg-color);
  animation: animateModal 0.5s;
}

/* animasi */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.modal-content {
  display: flex;
  gap: 1rem;
}

.modal-content img {
  height: 20rem;
}

.product-content h3 {
  font-size: 2.625rem;
}

.product-content p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.product-content .card-price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.product-content .btn-cart {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
