@import url(colors.css);
@import url(fonts.css);
@import url(navbar.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--tertiary-color);
}

.highlight {
  color: var(--highlight-color);
}

.row {
  display: flex;
}

.active {
  right: 0 !important;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
}

.badge {
  position: absolute;
  background-color: rgb(179, 45, 45);
  min-width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 50%;
  top: 0.2rem;
  right: -0.5rem;
  transform: scale(0);
}

.icon::before {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.icon-black::before {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.icon-star {
  fill: var(--primary-color);
  color: var(--primary-color);
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  background-image: url('../img/hero-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(24, 24, 24, 0) 30%
  );
}

.hero__content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  z-index: 999;
}

.hero__content h1 {
  font-size: 5em;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(46, 46, 45, 0.5);
}

.hero__content p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  margin-top: 1.5rem;
  font-weight: 400;
}

.hero__cta {
  display: inline-block;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

/* about section */
.about,
.menu,
.contact {
  padding: 7rem 7% 1.4rem;
}

.about__image {
  flex: 1 1 35rem;
}

.about__image img {
  width: 100%;
}

.about__content {
  flex: 1 1 45rem;
  padding: 0 1rem;
}

.about__content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* menu section */
.menu h2,
.contact h2 {
  margin: 0.5rem;
}

.menu p,
.contact p {
  text-align: center;
  width: 32rem;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 0;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  width: 18.75rem;
}

.card-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.card .shop-cart-btn,
.card .item-detail-btn {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.card-img {
  width: 15.5rem;
  height: 15.5rem;
  object-fit: cover;
  object-position: center;
}

.card-title {
  font-size: 1.2rem;
}

.card p {
  width: fit-content;
  font-size: 1.2rem;
}

.menu .row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* contact section*/
.contact .row {
  margin-top: 2rem;
}

.contact__map {
  flex: 1 1 35rem;
  width: 100%;
  object-fit: cover;
}

.contact__form {
  flex: 1 1 35rem;
  padding: 1.5rem;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid #eee;
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.input-group input {
  width: 100%;
  padding: 0.2rem;
  background-color: transparent;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

.btn {
  padding: 1rem 2rem;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* footer section */
.footer {
  padding: 1.4rem 7%;
  background-color: var(--primary-color);
  text-align: center;
  margin-top: 10rem;
}

.footer__socials,
.footer__links {
  margin: 1rem;
}

.footer__socials a,
.footer__links a {
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}

.footer__socials a:hover,
.footer__links a:hover,
.footer__credit a:hover {
  color: var(--bg-color);
}

.footer__credit a {
  color: rgb(255, 255, 255);
}

/* modal box */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 45, 0.5);
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  color: var(--bg-color);
  animation: animateModal 0.5s;
}

/* animasi */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.modal-content {
  display: flex;
  gap: 1rem;
}

.modal-content img {
  height: 20rem;
}

.product-content h3 {
  font-size: 2.625rem;
}

.product-content p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.product-content .card-price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.product-content .btn-cart {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

/* tablet */
@media (max-width: 768px) {
  .hero {
    height: 32.25rem;
  }

  .hero__content {
    width: 30rem;
  }

  .hero__content h1 {
    font-size: 3rem;
  }

  .hero__content p {
    margin-top: 0.5rem;
    font-size: 1.126rem;
  }

  .hero__cta {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .row {
    flex-wrap: wrap;
  }

  .about__image img {
    height: 18.75rem;
    object-fit: cover;
    object-position: center;
  }

  .footer {
    margin-top: 7rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-content img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* mobile phone */
@media (max-width: 480px) {
  .hero__content {
    width: 20rem;
  }

  .hero__content h1 {
    font-size: 1.5rem;
  }

  .hero__content p {
    font-size: 0.875rem;
    line-height: 1.4;
  }

  .hero__cta {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .about__image,
  .about__content {
    flex: 1 1 100%;
    flex-wrap: wrap;
  }

  .about__image img {
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
  }

  .menu p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .shopping-cart {
    width: 90%;
  }

  .card {
    margin: 1rem 0 0;
  }

  .contact__form {
    flex: 1 1 100%;
    padding: 1.5rem 0;
  }

  .contact p {
    width: 100%;
  }
}
